<nav>
    <div class="nav-container">
        <div class="logo">
            <img src="../Head_text.png" alt="麓原交通协会 Logo">
        </div>
        <ul>
            <li><a href="index.html">Home(Chinese)</a></li>
            <li><a href="introduce.html">About</a></li>
            <li><a href="download.html">Downlaod</a></li>
            <li><a href="function.html">Information Query</a></li>
             <li class="dropdown">
                <a href="javascript:void(0)">Language ▼</a> 
                <ul class="dropdown-menu">
                    <li><a href="index.html">中文</a></li>
                    <li><a href="index_en.html">English</a></li>
                </ul>
            </li>
        </ul>
    </div>
</nav>